<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Factor Optotions</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label">Model:</label>
            <div class="col-sm-5">
                <select id="cboModel" class="form-control" name="cboModel"
                        ng-model="choiceModel"
                        ng-options="model._id as model.name for model in models"
                        ng-change="modelChanged(choiceModel)">
                    <option value="">Please select</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="col-sm-3 control-label">Factor:</label>
            <div class="col-sm-5">
                <select id="cboFactor" class="form-control" name="cboFactor"
                        ng-model="choiceFactor"
                        ng-options="factor._id as factor.FactorName for factor in factors"
                        ng-change="factorChanged(choiceFactor)">

                    <option value="">Please select</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group" ng-if="choiceModel != ''">
            <a id="btnInsert" class="btn btn-primary"
               ui-sref="factorOptionEdit({modelId: choiceModel,factorId: choiceFactor})"
               ng-if="choiceFactor != '' && model.status == 'draft' ">Add</a>
            <button type="button" class="btn btn-default"
                    ng-click='validateModel()'
                    ng-if="factorOptions.length > 0">
                Validate Model
            </button>
        </div>
        <table class="table table-bordered table-hover tc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="hidden-xs">Description</th>
                    <th class="hidden-xs">Score</th>
                    <th class="hidden-xs">Fatal</th>
                    <th class="col-medium center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="factorOption in factorOptions">
                    <td>
                        {{factorOption.FactorOptionName}}
                    </td>
                    <td class="hidden-xs">
                        {{factorOption.Description}}
                    </td>
                    <td class="hidden-xs">
                        {{factorOption.Score}}
                    </td>
                    <td class="hidden-xs">
                        {{factorOption.Fatal}}
                    </td>
                    <td class="col-medium center">
                        <div class="btn-group btn-group-xs " ng-show="{{model.status == 'draft'?true:false}}">
                            <a ui-sref="factorOptionEdit({modelId: choiceModel, factorId: choiceFactor, factorOptionId: factorOption.FactorOptionId})" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
                            <a ng-click='factorOptionDelete(factorOption.FactorOptionId,choiceFactor)' class="btn btn-danger"><i class="fa fa-times icon-only"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>