/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

.page-logo {
    display: block;
    float: left;
    height: 46px;
}

.unstyled {
    list-style: outside none none;
}

input[type="radio"] {
    float:left;
}

form .form-actions {
    border-top: 1px solid #e5e5e5;
    display: block;
    padding: 15px 10px;
}
form .form-actions .form-group {
    margin-bottom: 0;
}

.space-4 {
    margin: 4px 0 3px;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
}

hr.separator {
    background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    border: 0 none;
    clear: both;
    height: 1px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.portlet {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.portlet .portlet-heading {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    line-height: 38px;
    min-height: 39px;
    padding: 0 15px;
}
.portlet .portlet-heading .fa, .portlet .portlet-heading .glyphicon {
    opacity: 0.55;
}
.portlet .portlet-heading.dark a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-succsss a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.inverse a {
    color: #fff;
}
.portlet .portlet-heading.dark small, .portlet .portlet-heading.bg-info small, .portlet .portlet-heading.bg-succsss small, .portlet .portlet-heading.bg-primary small, .portlet .portlet-heading.bg-danger small, .portlet .portlet-heading.bg-warning small, .portlet .portlet-heading.inverse small {
    color: #999;
}
.portlet .portlet-heading.dark .nav li.active > a, .portlet .portlet-heading.bg-info .nav li.active > a, .portlet .portlet-heading.bg-succsss .nav li.active > a, .portlet .portlet-heading.bg-primary .nav li.active > a, .portlet .portlet-heading.bg-danger .nav li.active > a, .portlet .portlet-heading.bg-warning .nav li.active > a, .portlet .portlet-heading.inverse .nav li.active > a {
    color: #686868;
}
.portlet .portlet-heading .nav li {
    margin-bottom: auto;
}
.portlet .portlet-heading .nav li > a {
    font-size: 13px;
    padding: 7.5px 15px;
}
.portlet .portlet-heading .nav li:not(.active) > a {
    background-color: transparent;
    border-color: transparent;
}
.portlet .portlet-heading .nav li.active > a {
    background-color: #fff;
    border-bottom-color: transparent;
    box-shadow: none;
    color: #686868;
}
.portlet .portlet-heading .nav.nav-tabs {
    border-bottom: 0 none;
    bottom: -5px;
    float: right;
    margin-bottom: 0;
    position: relative;
}
.portlet .portlet-heading .portlet-title {
    float: left;
}
.portlet .portlet-heading a {
    color: #999;
}
.portlet .portlet-heading a:hover, .portlet .portlet-heading a:focus, .portlet .portlet-heading a:active {
    outline: 0 none;
}
.portlet .portlet-heading h4 {
    font-size: 14px;
    line-height: 37px;
    margin: 0;
    font-weight: 500;
}
.portlet .portlet-heading .portlet-widgets {
    display: inline-block;
    float: right;
    font-size: 15px;
    line-height: 37px;
    padding-left: 15px;
    position: relative;
    text-align: right;
}
.portlet .portlet-heading .portlet-widgets::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    bottom: 3px;
    content: "";
    display: inline-block;
    left: -1px;
    position: absolute;
    top: 3px;
}
.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 3px;
}
.portlet .portlet-heading .portlet-widgets .fa:hover {
    opacity: 1;
    transform: scale(1.2);
}
.portlet .portlet-heading .portlet-widgets .dropdown-menu a {
    color: #555;
}
.portlet .portlet-heading .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}
.portlet .portlet-heading.no-left-border .portlet-widgets::before {
    border: 0 none;
}
.portlet form .form-actions {
    padding: 15px 10px 0;
}
.portlet.no-border {
    border: 0 none;
}
.portlet .portlet-body {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
}
.portlet .portlet-body .table {
    margin-bottom: 0;
}
.portlet .portlet-body .table > thead > tr > th, .portlet .portlet-body .table > thead > tr > td {
    border-bottom: 3px double #e5e5e5;
}
.portlet .portlet-body .datepicker.datepicker-inline {
    margin: 0;
}
.portlet .portlet-body.no-padding .table.table-bordered {
    border-width: 1px 0 0;
}
.portlet .portlet-body.no-padding .table.table-bordered th:first-child, .portlet .portlet-body.no-padding .table.table-bordered td:first-child {
    border-left: 0 none;
}
.portlet .portlet-body.no-padding .table.table-bordered th:last-child, .portlet .portlet-body.no-padding .table.table-bordered td:last-child {
    border-right: 0 none;
}
.portlet .portlet-body.no-padding .table.table-bordered tr:last-child td {
    border-bottom: 0 none;
}
.portlet .portlet-footer {
    background: #f2f2f2 none repeat scroll 0 0;
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
}
.portlet .portlet-footer ul {
    margin: 0;
}
.portlet.hidden-widgets .portlet-widgets {
    display: none;
}
.portlet.hidden-widgets:hover .portlet-widgets {
    display: block;
}
.portlet.portlet-primary .portlet-heading, .portlet.portlet-success .portlet-heading, .portlet.portlet-warning .portlet-heading, .portlet.portlet-info .portlet-heading, .portlet.portlet-danger .portlet-heading, .portlet.portlet-dark .portlet-heading, .portlet.portlet-gray .portlet-heading, .portlet.portlet-inverse .portlet-heading {
    color: #fff;
}
.portlet.portlet-primary .portlet-heading a, .portlet.portlet-success .portlet-heading a, .portlet.portlet-warning .portlet-heading a, .portlet.portlet-info .portlet-heading a, .portlet.portlet-danger .portlet-heading a, .portlet.portlet-dark .portlet-heading a, .portlet.portlet-gray .portlet-heading a, .portlet.portlet-inverse .portlet-heading a {
    color: #fff;
}
.portlet.portlet-basic .portlet-heading {
    background: #f2f2f2 none repeat scroll 0 0;
}
.portlet.portlet-basic .portlet-heading a {
    color: #999;
}
.portlet-gray > .portlet-heading {
    background-color: #555;
}
.portlet-dark > .portlet-heading, .portlet-inverse > .portlet-heading {
    background-color: #414141;
}
.portlet-success > .portlet-heading {
    background-color: #72af46;
}
.portlet-danger > .portlet-heading {
    background-color: #bd362f;
}
.portlet-info > .portlet-heading {
    background-color: #466baf;
}
.portlet-warning > .portlet-heading {
    background-color: #ab7a4b;
}
.portlet-primary > .portlet-heading {
    background-color: #d15050;
}
.portlet-primary, .portlet-primary > .portlet-heading {
    border-color: #d15050;
}
.portlet-danger, .portlet-danger > .portlet-heading {
    border-color: #bd362f;
}
.portlet-success, .portlet-success > .portlet-heading {
    border-color: #72af46;
}
.portlet-warning, .portlet-warning > .portlet-heading {
    border-color: #ab7a4b;
}
.portlet-info, .portlet-info > .portlet-heading {
    border-color: #466baf;
}
.portlet-gray, .portlet-gray > .portlet-heading {
    border-color: #555;
}
.portlet-dark, .portlet-dark > .portlet-heading, .portlet-inverse, .portlet-inverse > .portlet-heading {
    border-color: #414141;
}