<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="page-logo">
        <a href="#">
            <img src="assets/img/logo.png" alt="logo" class="logo-default" />
        </a>        
    </div>
    <span class="navbar-brand"> Score Card</span>
</div>