<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Model Information</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="tc-tabs">
            <!-- Nav tabs style 1 -->
            <ul class="nav nav-tabs">
                <li ui-sref-active="active"><a ui-sref=".detail">Detail</a></li>
                <li ui-sref-active="active"><a ui-sref=".factors">Factors</a></li>
                <li ui-sref-active="active"><a ui-sref=".ratings">Ratings</a></li>
                <li ui-sref-active="active"><a ui-sref=".active">Active</a></li>
            </ul>
            <!-- Tab panes -->
            <div ui-view></div>
        </div>
    </div>
</div>