<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Model {{ $stateParams.modelId != ''? "Edit" : "Add New"}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <form class="form-horizontal" id="modelForm" name="modelForm" novalidate>
            <fieldset>
                <legend>Model Information</legend>
                <div class="form-group"
                     ng-class="{'has-error':modelForm.inputName.$invalid &&
                                    modelForm.inputName.$dirty}">
                    <label class="col-sm-3 control-label" for="name">Name:</label>
                    <div class="col-sm-5">
                        <input name="inputName" type="text" class="form-control"
                               ng-model="model.name" placeholder="Model Name (required)"
                               required ng-minlength="5" ng-maxlength="50">
                        <span class="help-block has-error">
                            <span ng-show="modelForm.inputName.$error.required">
                                Model name is required.
                            </span>
                            <span ng-show="modelForm.inputName.$error.minlength">
                                Model name must be at least 5 characters in length.
                            </span>
                            <span ng-show="modelForm.inputName.$error.maxlength">
                                Model name cannot exceed 50 characters in length.
                            </span>
                        </span>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputDescription">Description:</label>
                    <div class="col-sm-5">
                        <textarea name="inputDescription" class="form-control" rows="3"
                                  ng-model="model.description" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-if="$stateParams.modelId != ''">
                    <label class="col-sm-3 control-label">Status:</label>
                    <div class="col-sm-5">
                        <label class="col-sm-3 control-label" ng-if="true">{{model.status}}</label>
                        <select id="cboStatus" class="form-control" name="cboStatus" ng-model="model.status" required ng-if="false">
                            <option value="draft">draft</option>
                            <option value="active">active</option>
                            <option value="publish">publish</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="$stateParams.modelId != ''">
                    <label class="col-sm-3 control-label">Minimum Score:</label>
                    <div class="col-sm-5">
                        <label class="col-sm-3 control-label">{{model.min}}</label>
                    </div>
                </div>
                <div class="form-group" ng-if="$stateParams.modelId != ''">
                    <label class="col-sm-3 control-label">Maximum Score:</label>
                    <div class="col-sm-5">
                        <label class="col-sm-3 control-label">{{model.max}}</label>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary"
                                    ng-click="save()"
                                    ng-disabled="modelForm.$invalid && modelForm.$dirty">
                                Save
                            </button>
                            <button type="submit" class="btn btn-default"
                                    ng-click="cancel(modelForm)">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-default"
                                    ng-click="back()">
                                Back To List
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-show="vm.message">
                    <div class="col-md-6">
                        <pre style="font: inherit">{{vm.message }}</pre>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>