<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>
    </div>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label">Model:</label>
            <div class="col-sm-5">
                <select id="cboModel" class="form-control" name="cboModel"
                        ng-model="choiceModel"
                        ng-options="model._id as model.name for model in models"
                        ng-change="modelChanged(choiceModel)">
                </select>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="row">
        <!--- Chart -->
        <div class="col-lg-9">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col-lg-3">
            <div id="chartPie" style="height: 250px; width: 100%;"></div>
        </div>
    </div>
    <div class="row">
        <!--- Chart -->
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Factor Option 1:</label>
                <div class="col-sm-7">
                    <select id="cboOption1" class="form-control" name="cboOption1"
                            ng-model="choiceOptl"
                            ng-options="factorOption1.FactorOptionId as factorOption1.FactorOptionName for factorOption1 in factorOption1s"
                            ng-change="option1Changed(choiceOptl)">
                    </select>
                </div>
            </div>
            <br>
            <h2><center>{{topbot1T[0].factor_option_name}}</center></h2>
            <table class="table table-bordered table-hover tc-table">
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Score</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">
                        <B><center>Top</center></B>
                    </td>
                </tr>
                <tr ng-repeat="rpt1T in topbot1T">
                    <td>
                        {{rpt1T.customer_name}}
                    </td>
                    <td>
                        {{rpt1T.scoring}}
                    </td>
                    <td>
                        {{rpt1T.rating_code}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <B><center>Bottom</center></B>
                    </td>
                </tr>
                <tr ng-repeat="rpt1B in topbot1B">
                    <td>
                        {{rpt1B.customer_name}}
                    </td>
                    <td>
                        {{rpt1B.scoring}}
                    </td>
                    <td>
                        {{rpt1B.rating_code}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Factor Option 2:</label>
                <div class="col-sm-7">
                    <select id="cboOption2" class="form-control" name="cboOption2"
                            ng-model="choiceOpt2"
                            ng-options="factorOption2.FactorOptionId as factorOption2.FactorOptionName for factorOption2 in factorOption2s"
                            ng-change="option2Changed(choiceOpt2)">
                    </select>
                </div>
            </div>
            <br>
            <h2><center>{{topbot2T[0].factor_option_name}}</center></h2>
            <table class="table table-bordered table-hover tc-table">
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Score</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">
                        <B><center>Top</center></B>
                    </td>
                </tr>
                <tr ng-repeat="rpt2T in topbot2T">
                    <td>
                        {{rpt2T.customer_name}}
                    </td>
                    <td>
                        {{rpt2T.scoring}}
                    </td>
                    <td>
                        {{rpt2T.rating_code}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <B><center>Bottom</center></B>
                    </td>
                </tr>
                <tr ng-repeat="rpt2B in topbot2B">
                    <td>
                        {{rpt2B.customer_name}}
                    </td>
                    <td>
                        {{rpt2B.scoring}}
                    </td>
                    <td>
                        {{rpt2B.rating_code}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->
</div>
